<div class="blogpage">
    <% @blogposts.each do |post| %>
        <h2><a href="/posts/<%= post[:title]%>"></h2>
            <div class="postsnippet">
                <%= post[:content]%>
            </div>
    <% end %>
</div>
