<div class="fencing">
    <h2>Fencing</h2>
    <p>I am a competitive epee fencer currently fencing out of Hapoel Sayif Kfar Saba.  I learned to fence at the University of Maryland, and subsequently spent several years at DC Fencer's Club being coached by Ilya Lobanenkov.  Post-graduation, I also spent two years volunteer coaching at the UMD fencing club.</p>
    <p> I also make highlight reels, which can be found <a href="https://www.youtube.com/channel/UC0cYbI_OZLy4HfRnDFC55kQ">here.</a></p>
</div>
