<link rel="stylesheet" type="text/css" href="<%= url("css/fencing.css")%>" />
<div class="fencing">
    <h2>Fencing</h2>
    <div class="fencing-photo-div">
        <img class="selfie fencing-selfie" src="img/fencingportraitsmall.jpg" alt="shalomfencing" width ="300px" class="fencing-photo"/>
    </div>
    <p>I am a competitive epee fencer currently fencing out of Hapoel Sayif Kfar Saba.  I learned to fence at the University of Maryland, and subsequently spent several years at DC Fencer's Club being coached by Ilya Lobanenkov.  Post-graduation, I also spent two years volunteer coaching at the UMD fencing club.</p>
    <p> I also make highlight reels, which can be found <a href="https://www.youtube.com/channel/UC0cYbI_OZLy4HfRnDFC55kQ">here.</a></p>
</div>
