<div class="headshot">
    <img src="https://dl.dropboxusercontent.com/u/50649820/headshot3croppednobgmedium.png" class="selfie" alt="Shalom Dubinsky" width="180px" height="200px"/>
</div>
<div class="main">
    <h2>About Me</h2>
    <div class="about-me-text">
        <p>I'm an oleh chadash originally from Pittsburgh currently residing in Netanya.  I have a double degree in Computer Science and Linguistics from the University of Maryland, College Park, and the Linguistics degree has been verified by the Misrad HaChinuch as a master's degree.  I specialize in natural language processing and systems integration, although I have a good grounding in a wide variety of programming subfields.  I prefer functional designs for my programs, both because I find it the easiest to intuit and because it works well for a number of linguistic applications.</p>
        <p>Outside of work, I'm a competitive epee fencer.  You can read more about that <a href="/fencing">here</a>.  I also read heavily.</p>
        <p>You can find the code for this site <a href="https://github.com/sdubinsky" target="_blank">on my github</a>.</p>
    </div>
</div>
