<div class="main">
    <h2>About Me</h2>
    <div class="about-me-text">
        <p>I'm an experienced programmer specializing in refactoring and cleaning up the worst codebases, whether it's from years of tech debt, architectural decisions from six years ago when the product was different, or code inherited from someone who went with the lowest bidder.  Is every change taking longer than it should?  Is there part of your code you're afraid to touch in case it breaks?  I can help!</p>
        <p>I can work in any language to help you speed up development time, improve code quality, and deliver a faster and more reliable product, without breaking anything along the way.  Are you looking for a top-notch backend dev to help on a project?  <a href="mailto:scott@sdubinsky.com">Let's talk!</a></p>
        <div class="quote"><p>What set Scott apart was his methodical approach to understanding in-depth system workings before making any changes. This enabled him to make targeted updates efficiently. Scott's diligence in testing ensured the highest quality fixes that never broke existing functionality. He also took care to thoroughly document his work.</p>
            <p>I would highly recommend Scott for roles maintaining or enhancing business-critical applications. He has proven to be an incredibly capable and adaptive engineer.</p>
            <p class="quote-source">- Josh Moont, Blackthorn</p>
        </div>
        <p>I run <a href="https://fencingdatabase.com">The Fencing Database</a>.  Over 100,000 clips of fencing touches, plus assorted stats, as well as fantasy fencing.</p>
        <p>You can find the code for this site <a href="https://gitlab.com/sdubinsky" target="_blank">on my gitlab</a>.</p>
    </div>
</div>
