<!DOCTYPE HTML>
<html>
    <head>
        <title>S Dubinsky</title>
        <link rel="stylesheet" type="text/css" href="<%=url("css/index.css") %>" />
        <link rel="stylesheet" type="text/css" href="<%=url("css/layout.css")%>" />
        <script id='logging' src="<%= url("js/logging.js")%>" type="text/javascript"></script>
        <script>logCall();</script>
    </head>
    <body>
        <header class="header">
            <div class="header-content">
                <div id="navbar">
                    <div class="mini-navbar-list-item"></div>
                    <div class="mini-navbar-list-item">
                        <% item = "Home" %>
                        <% if item.downcase == current_page %>
                            <a class="nav-link active" href="/<%= item.downcase %>"><%= item %></a>
                        <% else %>
                            <a class="nav-link" href="/<%= item.downcase %>"><%= item %></a>
                        <% end %>
                    </div>
                    <div class="mini-navbar-list-item">
                        <span class="name">
                            <img id="logo" src="<%=url("img/fencinglungebannersmall.png") %>" alt="Shalom Dubinsky" />
                        </span>
                    </div>
                    <div class="mini-navbar-list-item">
                        <% item = "Projects" %>
                        <% if item.downcase == current_page %>
                            <a class="nav-link active" href="/<%= item.downcase %>"><%= item %></a>
                        <% else %>
                            <a class="nav-link" href="/<%= item.downcase %>"><%= item %></a>
                        <% end %>
                    </div>
                    <div class="mini-navbar-list-item"></div>
                    <div class="mini-navbar-list-item"></div>
                    <div class="mini-navbar-list-item">
                        <% item = "Blog" %>
                        <% if item.downcase == current_page %>
                            <a class="nav-link active" href="/<%= item.downcase %>"><%= item %></a>
                        <% else %>
                            <a class="nav-link" href="/<%= item.downcase %>"><%= item %></a>
                        <% end %>
                    </div>
                    <div class="mini-navbar-list-item">
                        <% item = "Resume" %>
                        <% if item.downcase == current_page %>
                            <a class="nav-link active" href="/<%= item.downcase %>"><%= item %></a>
                        <% else %>
                            <a class="nav-link" href="/<%= item.downcase %>"><%= item %></a>
                        <% end %>
                    </div>
                    <div class="mini-navbar-list-item">
                        <% item = "Fencing" %>
                        <% if item.downcase == current_page %>
                            <a class="nav-link active" href="/<%= item.downcase %>"><%= item %></a>
                        <% else %>
                            <a class="nav-link" href="/<%= item.downcase %>"><%= item %></a>
                        <% end %>
                    </div>
                    <div class="mini-navbar-list-item"></div>
                </div>
            </div>
        </header>
        <div class="content">
            <a rel="me" href="https://ruby.social/@sdubinsky"></a>
            <%= yield %>
        </div>
        <footer class="footer">
            <div class="footer-links">
                <a href="https://linkedin.com/in/sdubinsky" target="_blank" style="text-decoration:none;"><img src="<%= url("img/li-bug-bw.png")%>" width="20" height="15" alt="View my LinkedIn profile" style="vertical-align:middle;" border="0"></a>
                <a href="https://gitlab.com/sdubinsky" target="_blank"><img src="<%= url("img/gitlab-logo.svg")%>" alt="View my Github profile" style="vertical-align:middle;" height="20" width="20"/></a>
            </div>
        </footer>
    </body>
</html>
