<link rel="stylesheet" type="text/css" href="<%=url("css/posts.css")%>" />
<div class="blogpage">
    <div class="rss-subscribe">
        <a href="/blog/rss"><img src="<%= url("img/rss-24.png") %>"></a>
    </div>
    <% if @blogposts.count == 0 %>
        <h4>No posts found.</h4>
    <% end %>
    <% @blogposts.each do |post| %>
        <div class="posttitle">
            <h2><a class="postlink" href="/blog/<%= post.id%>"> <%= post.title%> </a></h2>
        </div>
        <div class="postsnippet">
            <%= post.snippet%>
        </div>
        <div class="postdate">
            <%= Time.strptime(post.timestamp.to_s, "%s").strftime("%B %e, %Y")%>
        </div>
    <% end %>
</div>
