<link rel="stylesheet" type="text/css" href="<%=url("css/posts.css")%>" />
<div class="blogpage">
    <% if @blogposts.cmd_tuples == 0 %>
        <h4>No posts found.</h4>
    <% end %>
    <% @blogposts.each do |post| %>
        <div class="posttitle"
            <h2><a class="postlink" href="/posts/<%= post["title"]%>"> <%= post["title"]%> </a></h2>
        </div>
        <div class="postsnippet">
            <%= post["snippet"]%>
        </div>
    <% end %>
</div>
