<link rel="stylesheet" type="text/css" href="<%= url("css/post.css") %>" />
<div class="blogpost">
    <div class="blogcontent">
        <%= @post.post %>
        <div class="call-to-action">
            Want more? Subscribe via <a href="https://sdubinsky.com/blog/rss">RSS</a>.  Want to talk about cleaning up your codebase?  <a href="mailto:scott@sdubinsky.com">Email me</a>! Otherwise, happy coding!
        </div>
        <div class="publication-date">
            Originally published on <%= Time.strptime(@post.timestamp.to_s, "%s").strftime("%B %e, %Y")%>.
        </div>
        <div class="blog-comments">
            <% @post.comments.each do |comment| %>
                <div class="comment">
                    <div class="comment-title">
                        <%= comment.title %>
                    </div>
                    <div class="comment-username">
                        - <%= comment.username %>
                    </div>
                    <div class="comment-body">
                        <%= comment.text %>
                    </div>
                </div>
            <% end %>
            <div class="comment-form-div">
                <form class="comment-form" action="/submit-comment" method="POST">
                    <label for="comment-form-title">Title</label>
                    <input type="text" id="comment-form-title" name="comment-form-title" required>
                    <label for="comment-form-username">Author</label>
                    <input type="text" id="comment-form-username" name="comment-form-username" required>
                    <label for="comment-antispam">Please type "I'm being nice"</label>
                    <input type="text" id="comment-antispam" name="comment-antispam" required>
                    <label for="comment-form-body">Body</label>
                    <textarea id="comment-form-body" name="comment-form-body" rows="6" required></textarea>
                    <input type="text" value="<%=@post.id %>" hidden name="post-id">
                    <input type="Submit" value="Submit" class="submit-btn">
                </form>
            </div>
        </div>
    </div>
</div>
