<div class="projects">
    <h2>Personal Projects</h2>
    <p>I have a strong interest in linguistics and natural language processing, as well as programming in general.  Here you can find various hobby projects I've worked on, most of them in progress.</p>
    <ul>
        <li><a href="https://github.com/sdubinsky" target="_blank">My personal github</a></li>
        <li><a href="https://github.com/sdubinsky/autohighlight" target="_blank">Autohighlighting program for fencing streams</a></li>
        <li><a href="https://github.com/sdubinsky/fencing-database" target="_blank">The Fencing Database Github</a></li>
        <li><a href="https://fencingdatabase.com" taret="_blank">The Fencing Database website</a></li>
        <li><a href="https://youtube.com/fencingdatabase" target="_blank">The Fencing Database youtube channel</a></li>
    </ul>
</div>
