<p>I have a strong interest in linguistics and natural language processing, as well as programming in general.  Here you can find various hobby projects I've worked on, most of them in progress.  I believe the point of a project is to learn something new, so when I've learned that skill I don't always bother to finish the job.</p>
<ul>
    <li><a href="https://github.com/sdubinsky" target="_blank">My personal github</a></li>
    <li><a href="/milon">Semantic Hebrew dictionary</a></li>
</ul>
