<link rel="stylesheet" type="text/css" href="<%= url("css/projects.css") %>" />
<div class="projects">
    <h2>Personal Projects</h2>
    <p>This is a representative sample of the kinds of things I like to do.  All of the projects listed below can be found on <a href="https://gitlab.com/sdubinsky" target="_blank">my personal gitlab</a>.</p>
        <div class="project">
            <h3 class="project-title"><a href="https://gitlab.com/sdubinsky/autohighlight" target="_blank">Autohighlighter</a></h3>
            The autohighlighter cuts a stream into ten second clips of people scoring touches. This is mature.  I'm always playing around with it and making it better, but I don't anticipate any significant algorithm changes.  This is a complex command-line program. Each run processes about a 12 hour video, compensating for errors in data entry, OCR, unexpected interruptions, and other weirdness.  You can read about the development of this <a href="/blog">on the blog</a>.
            <p>Tech Involved:</p>
            <ul>
                <li>FFMpeg</li>
                <li>Tesseract OCR</li>
                <li>ImageMagick</li>
            </ul>
        </div>
        <div class="project">
            <h3 class="project-title"> <a href="https://fencingdatabase.com" taret="_blank">The Fencing Database website</a></h3>
            Central repository of 110,000 clips and growing, with stats, fencer info, fantasy fencing, and more.  I did all the work on this, frontend, backend, SQL, architecture.  Gets over 150K views a month.
        <p>Tech Involved:</p>
        <ul>
            <li>Sinatra</li>
            <li>Postgres</li>
            <li>Javascript (non-framework)</li>
        </ul>
        </div>
        <div class="project"><h3 class="project-title"> <a href="https://youtube.com/fencingdatabase" target="_blank">The Fencing Database youtube channel</a></h3>
            "Every Touch" compilations (every touch scored in a tournament, round of 64 on) and highlight reels are published here.  I also stream fencing commentary and advice, approximately weekly.</div>
        <div class="project"><h3 class="project-title">Title Reader</h3>
            A website for messy readers, I call it a visual cataloguer.  You take a picture of your bookshelves, it does OCR on the image and some magic on the backend, and if you search for a book it'll tell you where it is.  It's easier than constantly sorting your books, plus it handles multi-level shelves.  Currently incubating a new variation.
            <p>Tech Involved:</p>
            <ul>
                <li>Sinatra</li>
                <li>Sidekiq</li>
                <li>Redis</li>
                <li>Google OCR</li>
                <li>Stripe Integration</li>
                <li>Mailchimp Integration</li>
            </ul>
        </div>
        <div class="project"><h3 class="project-title"><a href="mafiaisrael.fly.dev">Real-Time Mafia</a></h3>
            Implemented a website for people to play an in-real-time version of the card game Mafia (yes, that one.)  It includes a game engine, automated player status updating, and a summary of the previous night/day's activities.  The code can be found <a href="https://gitlab.com/sdubinsky/mafia-israel">on my Gitlab</a>.
        </div>
    </ul>
</div>
