<div class="projects">
    <h2>Personal Projects</h2>
    <p>I have a strong interest in linguistics and natural language processing, as well as programming in general.  Here you can find various hobby projects I've worked on, most of them in progress.</p>
    <ul>
        <li><a href="https://github.com/sdubinsky" target="_blank">My personal github</a></li>
        <li><a href="https://github.com/sdubinsky/autohighlight" target="_blank">Autohighlighting program for fencing streams</a>.  This is mature.  I'm always playing around with it and making it better, but I don't anticipate any significant algorithm changes.</li>
        <li><a href="https://fencingdatabase.com" taret="_blank">The Fencing Database website</a>.  Central repository of 50,000 clips and growing, with stats, fencer info, crowdsourcing, and more.</li>
        <li><a href="https://youtube.com/fencingdatabase" target="_blank">The Fencing Database youtube channel</a>.  "Every Touch" compilations (every touch scored in a tournament, round of 64 on) and highlight reels are published here.  I originally made the autohiglighter to make it easier to make highlight reels, and I'll get back to that Real Soon Now.</li>
        <li><a href="https://github.com/sdubinsky/fencing-database" target="_blank">The Fencing Database Github</a>.  This is the code for the website, made with Sinatra.  What javascript there is is artisanally hand-crafted.</li>
    </ul>
</div>
