<div class="resume">
    <h2>Personal Resume</h2>
    <h3>Skills and Achievements</h3>
    <ul>
        <li>Languages: Java, Ruby, C, Python, Haskell</li>
        <li>Natural Language Processing</li>
        <li>Machine Learning</li>
        <li>Agile Programming</li>
        <li>Linux Experience</li>
        <li>Eagle Scout, BSA 2010</li>
    </ul>
    <h3>Education</h3>
    <h4><div class="resume-title">University of Maryland, College Park - College Park, MD</div><div class="resume-length">2010-2014</div></h4>
    <p><div class="resume-description">B.S. Computer Science, B.A. Linguistics Double Degree</div></p>
    <h4><div class="resume-title">Yeshivat Kerem B'Yavneh - Kvutzat Yavneh, Israel</div><div class="resume-length">2009-2010</div></h4>
    <p><div class="resume-description">Completed one-year intensive Judaic study program with international students.</div></p>
    <h4><div class="resume-title">Ulpan Etzion Haifa - Haifa, Israel</div><div class="resume-length">May - September, 2016</div></h4>
    <p><div class="resume-description">Intensive five-month ulpan course, level ד.  Included the Tech and the City program for introducing new olim to the high-tech industry.</div></p>
    <h3>Work Experience</h3>
    <h4><div class="resume-title">Programmer – Israeli Air Force</div><div class="resume-length">July 2017 - January 2018</div></h4>
    <p><div class="resume-description">Volunteer for the Israeli Air Force responsible for a wide variety of tasks including signals processing, low-level drone work, and website design. I also created and taught several classes on aspects of professional programming and computer science theory.</div></p>
    <h4><div class="resume-title">Software Engineer - Driveway Software</div><div class="resume-length">December 2016 - May, 2017</div></h4>
    <p><div class="resume-description">Designed and built import frameworks for a variety of data files, along with building API integration software.</div></p>
        <h4><div class="resume-title">Software Consultant - Vane, Inc</div><div class="resume-length">January, 2016 - December 2016</div></h4>
    <p><div class="resume-description">I built a machine learning prediction system for natural language data.  I was also responsible for improving the data sanitization process, including using Python/spacy  to semantically analyze sentences and extract relevant parts.  Also used web.py to build a QA webpage, and built and workerized a part of the data extraction process using supervisor, a Python module designed for workerization.</div>
    </p>
    <h4><div class="resume-title">Software Developer - Jibe, Inc</div><div class="resume-length">June, 2014 - December, 2015</div></h4>
    <p><div class="resume-description">Straight ruby hacking with an emphasis on reading, understanding, and refactoring others' code.  I built client systems at Jibe using a design philosophy revolving around functional programming and extensibility.  Later I switched to maintaining and upgrading a diverse set of codebases while balancing code improvements and client needs.</div></p>
    <h4><div class="resume-title">Developer Intern - Cortix Systems</div><div class="resume-length">Summer 2013</div></h4>
    <p><div class="resume-description">Researched and implemented new technologies for the company to use as well as designed and developed the company's core products.</div></p>
    <h3>Personal Projects</h3>
    <h4><div class="resume-title">Autohighlighter</div></h4
    <p><div class="resume-description">I wrote a program to take a raw fencing stream - a full day's worth of footage from a tournament - and extract just the ten seconds before someone scores a touch.  I used ffmpeg to do the image processing, and tesseract to extract metadata such as the names of the fencers and the scores.</div></p>
    <h4><div class="resume-title">Every Touch Compilations/Highlight Reels</div></h4>
    <p><div class="resume-description">I use the autohighlighter program to generate clips for highlight reels I make for my favorite fencers.  I also create and upload condensed versions of tournaments by taking the ten-second clips I generate with the autohighlighter, and concatenating them all together with ffmpeg.</div></p>
    <h4><div class="resume-title">Fencing Database</div></h4>
    <p><div class="resume-description">I save the clips I generate when I create the every touch compilations in a gfycat library.  I'm in the process of creating a website where fencers can search the database for specific touches. This could be every bout-winning touch scored by the tournament winner, or how their favorite action when there's no margin for error.</div></p>
</div>
