<div class="resume">
    <h2>Personal Resume</h2>
    <h3>Skills and Achievements</h3>
    <ul>
        <li>Languages: Java, Ruby, C, Python, Haskell</li>
        <li>Natural Language Processing</li>
        <li>Machine Learning</li>
        <li>Agile Programming</li>
        <li>12 Years of Linux Experience</li>
        <li>Eagle Scout, BSA 2010</li>
    </ul>
    <h3>Work Experience</h3>
    <h4><div class="resume-title">Programmer – Israeli Air Force</div><div class="resume-length">July 2017 - January 2018</div></h4>
    <p><div class="resume-description">Volunteer for the Israeli Air Force responsible for a wide variety of tasks including signals processing, low-level drone work, and website design, including OSD customization for a drone. I also took initiative and created and taught several classes on aspects of professional programming and computer science theory.</div></p>
    <h4><div class="resume-title">Software Engineer - Driveway Software</div><div class="resume-length">December 2016 - May, 2017</div></h4>
    <p><div class="resume-description">At Driveway, I was a backend engineer responsible for several aspects of the data pipeline, working in Python. In addition to maintaining the API, I was responsible for building automated FTP import solutions for our data, as well as integrating with third party APIs. I also built and maintained SQL queries, both within an ORM framework and in raw SQL when that framework fell short. I left Driveway when my draft date arrived.</div></p>
        <h4><div class="resume-title">Software Consultant - Vane, Inc</div><div class="resume-length">January, 2016 - December 2016</div></h4>
    <p><div class="resume-description">I built a machine learning prediction system for natural language data.  I was also responsible for improving the data sanitization process, including using Python/spacy  to semantically analyze sentences and extract relevant parts.  I also used web.py to build a QA webpage, and built and workerized a part of the data extraction process using supervisor, a Python module designed for workerization.</div>
    </p>
    <h4><div class="resume-title">Software Developer - Jibe, Inc</div><div class="resume-length">June, 2014 - December, 2015</div></h4>
    <p><div class="resume-description">Straight ruby hacking with an emphasis on reading, understanding, and refactoring others' code. I built client systems at Jibe using a design philosophy revolving around functional programming and extensibility. Later I switched to maintaining and upgrading a diverse set of codebases while balancing code improvements and client needs. This included finding and fixing silently failing systems as well as complete refactors of our oldest and most complex codebases.</div></p>
    <h4><div class="resume-title">Developer Intern - Cortix Systems</div><div class="resume-length">Summer 2013</div></h4>
    <p><div class="resume-description">At Cortix, I researched and implemented new technologies for the company to use as well as designed and developed the company's core products. I was responsible for researching and recommending the database the company chose to use(Neo4j), in addition to general Python programming.</div></p>
    <h3>Other Experience</h3>
    <h4><div class="resume-title">UMD Fencing Club</div><div class="resume-length">Fall 2015 - Spring 2016</div></h4>
    <p><div class="resume-description">Volunteer epee coach, responsible for individual and group lesson plan design, mid-tournament coaching, and general student advising.</div></p>
    <h3>Education</h3>
    <h4><div class="resume-title">University of Maryland, College Park - College Park, MD</div><div class="resume-length">2010-2014</div></h4>
    <p><div class="resume-description">B.S. Computer Science, B.A. Linguistics Double Degree</div></p>
    <h4><div class="resume-title">Yeshivat Kerem B'Yavneh - Kvutzat Yavneh, Israel</div><div class="resume-length">2009-2010</div></h4>
    <p><div class="resume-description">Completed one-year intensive Judaic study program with international students.</div></p>
    <h4><div class="resume-title">Ulpan Etzion Haifa - Haifa, Israel</div><div class="resume-length">May - September, 2016</div></h4>
    <p><div class="resume-description">Five-month ulpan course, level ד.  Included the Tech and the City program for introducing new olim to the high-tech industry.</div></p>
    <h3>Personal Projects</h3>
    <h4><div class="resume-title">Autohighlight</div></h4>
    <p><div class="resume-description">Autohighlight is a program I wrote in Ruby to extract 10-second clips of scoring actions from a full day's stream footage.  It uses ffmpeg to convert the stream into individual frames, then tesseract to identify when the score changes, and to extract other metadata.  Then it takes these clips and combines them together into a single video that just contains the ten seconds before every touch scored in the tournament.</div></p>
    <h4><div class="resume-title">Fencing Database</div></h4>
    <p><div class="resume-description">I also take the clips, along with their metadata, and upload them to gfycat.  I also maintain my own database, with more complex metadata such as bouts and tournaments.  I use this to generate interesting stats and to make highlight reels.</div></p>
</div>
