<h3>Skills and Achievements</h3>
<ul>
    <li>Languages: Java, Ruby, C, Python</li>
    <li>Natural Language Processing</li>
    <li>Machine Learning</li>
    <li>Agile Programming</li>
    <li>Linux Experience</li>
    <li>Eagle Scout, BSA 2010</li>
</ul>
<h3>Work Experience</h3>
<h4><div class="resume-title">Software Consultant - Vane, Inc</div><div class="resume-length">January, 2016 - Present</div></h4>
<p><div class="resume-description">I built a machine learning prediction system for natural language data.  I was also responsible for improving the data sanitization process, including using Python/spacy  to semantically analyze sentences and extract relevant parts.  Also used web.py to build a QA webpage, and built and workerized a part of the data extraction process using supervisor, a Python module designed for workerization.</div>
</p>
<h4><div class="resume-title">Software Developer - Jibe, Inc</div><div class="resume-length">June, 2014 - December, 2015</div></h4>
<p><div class="resume-description">Straight ruby hacking with an emphasis on reading, understanding, and refactoring others' code.  I built client systems at Jibe using a design philosophy revolving around functional programming and extensibility.  Later I switched to maintaining and upgrading a diverse set of codebases while balancing code improvements and client needs.</div></p>
<h4><div class="resume-title">Developer Intern - Cortix Systems</div><div class="resume-length">Summer 2013</div></h4>
<p><div class="resume-description">Researched and implemented new technologies for the company to use as well as designed and developed the company's core products.</div></p>
<h3>Other Experience</h3>
<h4><div class="resume-title">UMD Fencing Club</div><div class="resume-length">Fall 2015 - Spring 2016</div></h4>
<p><div class="resume-description">Volunteer epee coach, responsible for individual and group lesson plan design, mid-tournament coaching, and general student advising.</div></p>
<h3>Education</h3>
<h4><div class="resume-title">University of Maryland, College Park - College Park, MD</div><div class="resume-length">2010-2014</div></h4>
<p><div class="resume-description">B.S. Computer Science, B.A. Linguistics Double Degree</div></p>
<h4><div class="resume-title">Yeshivat Kerem B'Yavneh - Kvutzat Yavneh, Israel</div><div class="resume-length">2009-2010</div></h4>
<p><div class="resume-description">Completed one-year intensive Judaic study program with international students.</div></p>
<h4><div class="resume-title">Ulpan Etzion Haifa - Haifa, Israel</div><div class="resume-length">May - September, 2016</div></h4>
<p><div class="resume-description">Intensive five-month ulpan course, level ד.  Included the Tech and the City program for introducing new olim to the high-tech industry.</div></p>
