<div class="resume">
    <h2>Personal Resume</h2>
    <h3>Skills and Achievements</h3>
    <ul>
        <li>Languages: Java, Ruby, C, Python, Haskell</li>
        <li>Natural Language Processing</li>
        <li>Machine Learning</li>
        <li>Agile Programming</li>
        <li>12 Years of Linux Experience</li>
        <li>Emacs/Elisp Experience</li>
    </ul>
    <h3>Education</h3>
    <h4><div class="resume-title">University of Maryland, College Park - College Park, MD</div><div class="resume-length">2010-2014</div></h4>
    <p><div class="resume-description">B.S. Computer Science, B.A. Linguistics Double Degree</div></p>
    <h3>Work Experience</h3>
    <h4><div class="resume-title">Independent Consultant</div><div class="resume-length">January 2023-Present</div></h4>
    <p><div class="resume-description">Consultant specializing in complex refactoring projects.  Think you have a problem I can help with?  Let's talk!</div></p>
    <h4 class="resume-title">Blackthorn</h4>
    <div class="resume-description">Led large-scale refactoring efforts while maintaining velocity and reliability, including major rearchitecturing.  Took charge of the team and implemented a culture of testing and documentation while supporting and mentoring junior developers.</div>
    <h4 class="resume-title">Mammoth</h4>
    <div class="resume-description">Responsible for system and administration of a Mastodon server, as well as related devops tasks.  I also researched and developed custom Mammoth-specific features like default follow lists.</div>
    <h4><div class="resume-title">Full Stack Engineer - Verbit</div><div class="resume-length">October 2020 - May 2022</div></h4>
    <p><div class="resume-description">Responsible for designing anddeveloping new features across the stack, including complex work with FFMpeg.  Also responsible for maintenance of a complex legacy codebase, involving work in SQL, Python, Ruby/RoR, HTML, CSS, and Javascript, and tracking bugs down across repositories and languages, and without documentation.</div></p>
    <h4><div class="resume-title">NLP Engineer - Colabo</div><div class="resume-length">May 2018 - October 2020</div></h4>
    <p><div class="resume-description">Natural Language Processing engineer responsible for redesigning core sections of the codebase, as well as developing algorithms to process and understand domain-specific short sentences.  Also took responsibility for mentoring new employees in how to use Linux, as well as more generally.</div></p>
    <h4><div class="resume-title">Programmer – Israeli Air Force</div><div class="resume-length">July 2017 - January 2018</div></h4>
    <p><div class="resume-description">Volunteer for the Israeli Air Force responsible for a wide variety of tasks including signals processing, low-level drone work, and website design, including OSD customization for a drone. I also took initiative and created and taught several classes on aspects of professional programming and computer science theory.</div></p>
    <h4><div class="resume-title">Software Engineer - Driveway Software</div><div class="resume-length">December 2016 - May, 2017</div></h4>
    <p><div class="resume-description">At Driveway, I was a backend engineer responsible for several aspects of the data pipeline, working in Python. In addition to maintaining the API, I was responsible for building automated FTP import solutions for our data, as well as integrating with third party APIs. I also built and maintained SQL queries, both within an ORM framework and in raw SQL when that framework fell short. I left Driveway when my draft date arrived.</div></p>
        <h4><div class="resume-title">Software Consultant - Vane, Inc</div><div class="resume-length">January, 2016 - December 2016</div></h4>
    <p><div class="resume-description">I built a machine learning prediction system for natural language data.  I was also responsible for improving the data sanitization process, including using Python/spacy  to semantically analyze sentences and extract relevant parts.  I also used web.py to build a QA webpage, and built and workerized a part of the data extraction process using supervisor, a Python module designed for workerization.</div>
    </p>
    <h4><div class="resume-title">Software Developer - Jibe, Inc</div><div class="resume-length">June, 2014 - December, 2015</div></h4>
    <p><div class="resume-description">Straight ruby hacking with an emphasis on reading, understanding, and refactoring others' code. I built client systems at Jibe using a design philosophy revolving around functional programming and extensibility. Later I switched to maintaining and upgrading a diverse set of codebases while balancing code improvements and client needs. This included finding and fixing silently failing systems as well as complete refactors of our oldest and most complex codebases.</div></p>
    <h3>Other Experience</h3>
    <h4><div class="resume-title">UMD Fencing Club</div><div class="resume-length">Fall 2015 - Spring 2016</div></h4>
    <p><div class="resume-description">Volunteer epee coach, responsible for individual and group lesson plan design, mid-tournament coaching, and general student advising.</div></p>
    <h3>Personal Projects</h3>
    <h4><div class="resume-title">Autohighlight</div></h4>
    <p><div class="resume-description"><a href="https://gitlab.com/sdubinsky/autohighlight">Autohighlight</a> is a program I wrote in Ruby to extract 10-second clips of scoring actions from a full day's stream footage.  It uses ffmpeg to convert the stream into individual frames, then tesseract to identify when the score changes, and to extract other metadata.  Then it takes these clips and combines them together into a single video that just contains the ten seconds before every touch scored in the tournament.</div></p>
    <h4><div class="resume-title">Fencing Database</div></h4>
    <p><div class="resume-description">I also take the clips, along with their metadata, and upload them to gfycat.  The frontend to this database is <a href="https://fencingdatabase.com">The Fencing Database</a>, where you can view the clips and associated stats, both automatically generated and crowd-sourced.</div></p>
</div>
