body{
    margin: 0;
    padding: 0;
    border: 0;
}


.header{
    clear: both;
    border-bottom: solid 1px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    height: 60px;
    background-color: #afafaf;
    position: fixed;
    width: 100%;
    top: 0px;
}

.header-content{
    line-height: 60px;
}
.name{
    text-align: left;
    margin: 0;
    float: left;
}
#navbar{
    margin: 0 auto;
    text-align: right;
    display: inline;
}

.navbar-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar-list-item{
    display: inline-block;
    position: relative;
    margin: 0 .7em 0 .7em;
}
.content{
    padding-top: 65px;
    margin-left: 30%;
    margin-right: 30%;
    height: 100%;
    font-family: sans-serif;
}
.footer{
    clear: both;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    background: #afafaf;
}

.footer-links{
    padding-top: 15px;
}