body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #EAEAEA;
}


.header{
    clear: both;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0px;
}

.header-content{
    line-height: 80px;
}

.header a:-webkit-any-link{
    opacity: 0.65;
    color: #002266;
}

.header a:hover{
    opacity: 1.0 !important;
}
.active{
    opacity: 1.0 !important;
    font-style: oblique !important;
}

#logo {
    height: 82px;
    
}

.name{
    margin: 0;
    text-transform: uppercase;
    margin-left: 2%;
    font-size: 1.5em;
    color: #002266;
}
#navbar{
    margin: 0 auto;
    text-align: center;
}

.navbar-list{
    padding: 0;
    margin: 0;
    list-style: none;
    padding-right: 10px;
}
.navbar-list-item{
    display: inline-block;
    position: relative;
    margin: 0 2em 0 2em;
    text-transform: uppercase;
    font-family: sans-serif;
    -webkit-appearance: none;
    text-decoration: none;
}
.mini-navbar-list{
    list-style: none;
}
.content{
    padding-top: 105px;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    font-family: sans-serif;
    line-height: 1.2
}
.footer{
    clear: both;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
}

.footer-links{
    padding-top: 15px;
}

.resume-title{
    float: left;
    clear: both;
}

.resume-length{
    float: right;
}

.resume-description{
    clear: both;
}

a {
    text-decoration: none;
}

.selfie {
    float: left;
    clear: both;
    margin: 10px;
}
