.posttitle {
    padding: 1em;
    font-size: 20px; 
}

.postlink {
    margin: 0.8em;
    text-transform: capitalize;
}

.postsnippet {
    font-style: italic;
}

.postdate {
    padding-bottom: 0.5em;
    border-bottom: 0.25px solid;
}

.uploaded_date {
    margin-left: 0.8em;
}

.rss-subscribe {
    float: right;
    text-align: center;
}

.rss-subscribe img {
    width: 1em;
    height: 1em;
}
