h1 {
    text-transform: uppercase;
    color: #222222;
}

h2 {
    text-transform: initial;
    color: #222222;
}
.blogcontent {
    color: #444444;
}

.blog-comments {
    border-top: 0.25px solid;
}

.comment {
    margin-bottom: 2em;
}

.comment-form {
    display:flex;
    flex-direction: column;
}

.comment-title {
    text-transform: capitalize;
    font-weight: bold;
}

.comment-username {
    font-style: italic;
    text-transform: capitalize;
    font-size: small;
    margin-left: 1.5em;
}

.comment-prompt {
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 2em;
}

.comment-body {
    border-left: 0.25px solid;
    padding-left: 0.8em;
}

.comment-form-div {
    margin-top: 3em;
}

#comment-form-title {
    max-width: 20em;
}

#comment-form-username {
    max-width: 20em;
}

#comment-form-body {
    
}

.submit-btn {
    max-width: 10em;
}

blockquote {
    border-left: 0.25px solid;
    padding-left: 0.8em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

tr.header {
  text-transform: uppercase;
}

tr.odd {
  background-color: lightblue;
}

.call-to-action {
    margin-bottom: 1em;
}

#mc_embed_signup_scroll {
    display: flex;
    margin-bottom: 3em;
}

#mce-EMAIL {
    margin-right: 2em;
}
