h1 {
    text-transform: uppercase;
    color: #222222;
}

h2 {
    text-transform: initial;
    color: #222222;
}
.blogcontent {
    color: #444444;
}

.blog-comments {
    border-top: 0.25px solid;
}

.comment-form {
    display:flex;
    flex-direction: column;
}

.comment-title {
    text-transform: capitalize;
    font-weight: bold;
}

.comment-username {
    font-style: italic;
    text-transform: capitalize;
    font-size: small;
    margin-left: 1.5em;
}

.comment-body {
    border-left: 0.25px solid;
    padding-left: 0.8em;
}

#comment-form-title {
    max-width: 20em;
}

#comment-form-username {
    max-width: 20em;
}

#comment-form-body {
    
}

.submit-btn {
    max-width: 10em;
}
