h1 {
    text-transform: uppercase;
    color: #222222;
}

h2 {
    text-transform: initial;
    color: #222222;
}
.blogcontent {
    color: #444444;
}

.blog-comments {
    border-top: 0.25px solid;
}

blockquote {
    border-left: 0.25px solid;
    padding-left: 0.8em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
}

.call-to-action {
    margin-bottom: 1em;
}

#mc_embed_signup_scroll {
    display: flex;
    margin-bottom: 3em;
}

#mce-EMAIL {
    margin-right: 2em;
}
